<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://projectplatinumshakewebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/227b65eb-b75b-42fb-bd88-6781b753f8ea/resourceGroups/ProjectPlatinumShake/providers/Microsoft.Web/sites/ProjectPlatinumShakeWebAPI</ResourceId>
    <UserName>$ProjectPlatinumShakeWebAPI</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://projectplatinumshakewebapi.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>